<footer class="is-dark">
  <div id="left-footer">
    <h3>Quick links</h3>
      <ul>
        <li>
          <a class="navbar-item" routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li>
          <a class="navbar-item" routerLink="contact" routerLinkActive="active">Contact</a>
        </li>
        <li>
          <a class="navbar-item" routerLink="products" routerLinkActive="active">Products</a>
        </li>
      </ul>
  </div>

  <div id="right-footer">
    <span>Jacek Gomółka 2019</span>
  </div>
</footer>