footer {
    background-color: #363636;
    color: #d3d3d3;
    padding: 8px;
    display: flex;
    flex-shrink: 0;
}

footer a {
    color: #fff;
}

footer #left-footer {
    flex: 1;
    border-right: 1px solid red;
    padding-left: 32px;
}

footer #left-footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

footer #right-footer {
    flex: 2;
    padding: 8px;
    text-align: center;
}