<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="/assets/img/logo-nav@2x.png">
    </a>
  </div>
  
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="" routerLinkActive="active">Home</a>
      <a class="navbar-item" routerLink="contact" routerLinkActive="active">Contact</a>
      <a class="navbar-item" routerLink="products" routerLinkActive="active">Products</a>

    </div>
  </div>  
</nav>  
  

